# Express Server Configuration
PORT=5001

# MongoDB Connection String
# Use your local URI for local development, or your Atlas URI for production cloud hosting
MONGODB_URI=mongodb://localhost:27017/mansawhips
